$base: #bb9f59;
$color: #553f21;
$darkRed: #60200e;
$dark: #332415;
$black: black;
$font: "Courier New", courier, sans;

body {
    background-color: $black;
    font-family:$font;
    font-size:12pt;
    color: $color;
    margin: 0;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-size: 3em;
}

#page {
    height: 700px;
    margin: 0 auto;

    h1 {
        font-size: 3em;
        color: $dark;
        clear: both;
    }

    .inner {
        width: 1000px;
        margin: 220px auto 0 auto;
        text-align: right;
    }

    .menu {
        > * {
            width: 140px;
            float: right;
            clear: both;
        }
        .digg:before {
            content:url("../images/digg.png");
        }

        .facebook:before {
            content:url("../images/facebook.png");
        }

        .twitter:before {
            content:url("../images/twitter.png");
        }
    }

}