body {
  background-color: black;
  font-family: "Courier New", courier, sans;
  font-size: 12pt;
  color: #553f21;
  margin: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center; }

.title {
  font-size: 3em; }

#page {
  height: 700px;
  margin: 0 auto; }
  #page h1, #page h2, #page h3, #page h4, #page h5, #page h6 {
    color: #332415;
    margin: 10px 0; }
  #page h1 {
    margin: 0 0 10px 0;
    font-size: 3em;
    clear: both; }
  #page .inner {
    width: 1000px;
    margin: 220px auto 0 auto;
    text-align: right; }
  #page .menu > * {
    width: 140px;
    float: right;
    clear: both; }
  #page .menu .digg:before {
    content: url("../images/digg.png"); }
  #page .menu .facebook:before {
    content: url("../images/facebook.png"); }
  #page .menu .twitter:before {
    content: url("../images/twitter.png"); }
  #page .menu #messages {
    width: 300px;
    background-color: #332415;
    color: #c8c8c8;
    padding: 10px;
    max-height: 400px;
    overflow: auto;
    font-size: 0.8em;
    text-align: justify;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    behavior: url(./PIE.htc);
    background-color: #1e1e1e;
    -pie-background: rgba(30, 30, 30, 0.7);
    background-color: rgba(30, 30, 30, 0.7); }
    #page .menu #messages #mentions {
      max-height: 400px; }
      #page .menu #messages #mentions .mention {
        padding: 10px 0;
        border-bottom: 1px solid #c8c8c8; }
    #page .menu #messages #news .news {
      padding: 10px 0;
      border-bottom: 1px solid #c8c8c8; }
