#galleries.page
  %h2=@gallery.name
  #lb
    -@gallery.images.each do |i|
      %a.image
        %img{:src=>i.url}
        .abstract=i.abstract

= link_to "< Home", root_path, :class=>"home"
:javascript
  dojo.require("dojox.image.Lightbox");

  