%html
  %head
    %title The Hoarders - film
    =stylesheet_link_tag :all
    =javascript_include_tag "http://o.aolcdn.com/dojo/1.5/dojo/dojo.xd.js", :djConfig=>"isDebug: false, baseUrl: '/', modulePaths: { 'ab': 'javascripts/ab'}"
  %body
    #page
      .inner
        %h1 The Hoarders
        =yield