%html
  %head
    %title The Hoarders - film
    =stylesheet_link_tag :all
    =javascript_src_tag :src=>"http://o.aolcdn.com/dojo/1.5/dojo/dojo.xd.js"
  %body
    #page
      .inner
        %h1 The Hoarders
        =yield